section#about{
  background-color: #011631;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 600px;
}
section#about .wrap{
  margin-bottom: 50px;
  box-sizing: border-box;
  border-radius: 30px;
  text-align: center;
  color: white;
}
section#about .wrap h2{
}
section#about .wrap p{
  padding: 15px 0 30px 0;
}
section#about .wrap ul{

}
section#about .wrap ul li{
  line-height: 4;
}
section#about .wrap div{  
  width: 54%;
  margin: 0 auto;
  align-items: center;
  text-align: left;
}
section#about .wrap div img{  
  width: 300px;
  border-radius: 30px;
  box-shadow: 0 0 15px #999;
}